<% thisString = "In Edit Posts for ID " + @post.id.to_s %>
<h1><%= thisString %> </h1>
<%= form_for @post do |f| %>
	<%= f.label :title %><br />
	<%= f.text_field :title %> <br />

	<%= f.label :body %><br />
	<%= f.text_area :body %> <br />
	
	<%= f.select :category_id, Category.all.collect { |x| [x.name, x.id]}, {:include_blank => "select a category"} %> <br />
	<% outString = "Update Post " + @post.id.to_s %>
	<%= f.submit outString %>
<% end %>
<h3> <%= link_to "Go Back", post_path %> </h3>