<% display = "In Post/show for id = " + @post.id.to_s %>
<h1> <%= display %> </h1>
<p>
<h2> <%= @post.title %> </h2>
<p><%= @post.body %></p>
<%= link_to "Back to " + @post.category.name + " category" , category_path(@post.category_id) %></br>
<%= link_to 'Back', posts_path %>
<p> </p>
